[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"

[dev-packages]
coverage = "*"
django = "<2"
django-private-storage = "*"
wheel = "*"

[requires]
python_version = "2.7"
